.board-row {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.board-item {
  display: flex;
  flex-direction: row;
  border: 1px solid transparent;
  display: flex;
  place-content: center;
  place-items: center;
}

.board-item:hover {
  background-color: #ddd;
  cursor: pointer;
  border: 1px solid #999;
}
