.board-row {
  display: flex;
  flex-direction: row;
}

.board-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #999;
  padding: 4px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  place-content: center;
  place-items: center;
}
.board-item:hover {
  background-color: #ddd;
  cursor: pointer;
}
