.board-row {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding: 8px;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.board-item {
  display: flex;
  flex-direction: row;
  border: none;
  display: flex;
  place-content: center;
  place-items: center;
}

.board-item:hover {
  background-color: #ddd;
  cursor: pointer;
  outline: 1px solid #999;
}
